@model GameDetailsServiceModel

@{
    ViewBag.Title = "Game Details";
    var photoPath = "~/Images/" + (Model.FieldPhotoPath ?? "no-image.jpg");

}

<div class="box box-large box-info-and-edit">
    <form method="get">
        <img class="img-thumbnail" src="@photoPath" alt="image" asp-append-version="true">

        <div>
            @if (Model.HasPlaces)
            {
                @if (Model.IsUserAlreadyJoin || Model.UserId == User.Id() || User.IsManager())
                {
                    @if (Model.IsUserAlreadyJoin)
                    {
                        <h3 class="text-center mb-4 mt-4">You already join to this game</h3>
                    }
                    else
                    {
                        <h3 class="text-center mb-4 mt-4">@Model.Places Available Places</h3>
                        <div class="my-item-center">
                            <a asp-controller="Games" asp-action="AddUserToGame" asp-route-gameId="@Model.GameId" class="btn btn-primary btn-block text-uppercase mb-3 btn-form-size">Join Game</a>
                        </div>
                    }
                    <div class="my-item-center">
                        <a asp-controller="Games" asp-action="SeePlayers" asp-route-gameId="@Model.GameId" class="btn btn-primary btn-block text-uppercase mb-3 btn-error-size">See the list of players</a>
                    </div>
                }
                else
                {
                    @if (Model.Places < 3)
                    {
                        <h3 class="text-center mb-4 mt-4">Hurry up! Only @Model .Places Available Places</h3>
                    }
                    else
                    {
                        <h3 class="text-center mb-4 mt-4">@Model.Places Available Places</h3>
                    }
                    <div class="my-item-center">
                        <a asp-controller="Games" asp-action="AddUserToGame" asp-route-gameId="@Model.GameId" class="btn btn-primary btn-block text-uppercase mb-3 btn-form-size">Join Game</a>
                    </div>
                }
            }
            else
            {
                <h3 class="text-center mb-4 mt-4">There are no available places</h3>
                <a asp-controller="Games" asp-action="SeePlayers" asp-route-gameId="@Model.GameId" class="btn btn-primary btn-block text-uppercase mb-3 btn-error-size">See the list of players</a>
            }
        </div>

        <div class="mt-5 mb-5">
            <h3>Contacts :</h3>
        </div>
        <div class="input-container">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" readonly="readonly" class="mt-2 mb-3" />
        </div>
        <div class="input-container">
            <label asp-for="FacebookUrl"></label>
            <input asp-for="FacebookUrl" readonly="readonly" type="tel" class="mt-2 mb-3" value="@Model.FacebookUrl">
        </div>

        <div class="mt-4 mb-5">
            <h3>Details :</h3>
        </div>
        <div class="input-container">
            <label asp-for="Date">Date</label>
            <input asp-for="Date" type="datetime" readonly class="mt-2 mb-3" value="@Model.Date.Value.ToString("d")">
        </div>
        <div class="input-container">
            <label asp-for="Time">Time</label>
            <input asp-for="Time" readonly="readonly" type="text" class="mt-2 mb-3" value="@Model.Time:00">
        </div>
        <div class="input-container">
            <label asp-for="NumberOfPlayers"></label>
            <input asp-for="NumberOfPlayers" readonly="readonly" type="number" class="mt-2 mb-3" value="@Model.NumberOfPlayers.Value">
        </div>
        <div class="input-container">
            <label asp-for="Places"></label>
            <input asp-for="Places" readonly="readonly" type="number" class="mt-2 mb-3" value="@Model.Places">
        </div>
        <div class="textarea-container">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="mt-2 mb-3" rows="2" readonly="readonly"></textarea>
        </div>

        <div class="mt-4 mb-3 createPlaygroundChechboxes">
            <input class="checkbox-down" asp-for="Ball" type="checkbox" value="@Model.Ball" onclick="return false;">
            <label asp-for="Ball"></label>

            <input class="checkbox-down" asp-for="Jerseys" type="checkbox" value="@Model.Jerseys" onclick="return false;">
            <label asp-for="Jerseys"></label>

            <input class="checkbox-down" asp-for="Goalkeeper" type="checkbox" value="@Model.Goalkeeper" onclick="return false;">
            <label asp-for="Goalkeeper"></label>
        </div>
    </form>
</div>