@model IEnumerable<PlaygroundAllViewModel>

<div class="row">
    @if (Model.Any())
    {
        @foreach (var playground in Model)
        {
            <div class="col-md-4">
                <div class="card mb-3">
                    <img class="card-img-top" src="@playground.ImageUrl" alt="@playground.Name @playground.Country - @playground.Town">
                    <div class="card-body text-center">
                        <div class="card-title text-center h5-like">@playground.Name - @playground.Country @playground.Town</div>
                        @*<a asp-controller="Cars" asp-action="Details" asp-route-id="@playground.Id" class="btn btn-primary">View More</a>*@
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://thumbs.dreamstime.com/b/comic-boom-oops-icon-simple-black-style-illustration-web-122999699.jpg" alt="Just oops image">
                <div class="card-body text-center">
                    <div class="card-title text-center h5-like">There are no playgrounds</div>
                    <a href="/Playgrounds/Create" class="btn btn-success">Create Playground</a>
                </div>
            </div>
        </div>
    }
</div>