@model FieldAllQueryModel

<form method="get">
    <div class="row p-3">

        <div class="form-group mr-5">
            <input asp-for="SearchTerm" type="text" placeholder="Search by name..." class="form-control">
        </div>

        <div class="row ml-0">
            <div class="form-group">
                <div class="form-group">
                    <select asp-for="City" class="form-control">
                        <option value="" disabled selected>Search by city</option>
                        @foreach (var city in Model.Cities)
                        {
                            <option value="@city">@city</option>
                        }
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group mr-5">
            <input type="submit" class="btn" value="Search" />
        </div>

        <div class="row ml-0">
            <div class="form-group">
                <div class="form-group">
                    <select asp-for="Sorting" class="form-control">
                        <option value="0">Date Created</option>
                        <option value="1">City</option>
                        <option value="2">Field Name</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" class="btn" value="Sort" />
        </div>

    </div>
</form>

@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalFields / Model.PlaygroundsPerPage);
    var shouldButtonBeDisabled = Model.CurrentPage == maxPage || Model.Fields.Any() == false;
}

<div class="row mb-5" style="flex-wrap: nowrap">
    <div class="col-md-6" style="max-width: 70px;">
        <a class="btn @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Fields"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-city="@Model.City"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)"><<</a>
    </div>
    <div class="col-md-6" id="right-arrow">
        <a class="btn float-right @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
           asp-controller="Fields"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-city="@Model.City"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">>></a>
    </div>
</div>

<div class="row">
    @if (Model.Fields.Any())
    {
        @foreach (var field in Model.Fields)
        {
            <div class="col-md-4">
                <div class="card mb-3">
                    <img class="card-img-top" src="@field.ImageUrl" alt="@field.Name @field.Country - @field.City">
                    <div class="card-body text-center">
                        <div class="card-title text-center h5-like">@field.Name - @field.Country.Name @field.City.Name</div>
                        <div class="text-center mt-4">
                            <a asp-controller="Fields" asp-action="Details" asp-route-id="@field.Id" class="btn mb-3">Info</a>
                            @if (User.IsManager())
                            {
                                <a asp-controller="Fields" asp-action="Edit" asp-route-id="@field.Id" class="btn btn-warning mb-3">Edit</a>
                                <a asp-controller="Fields" asp-action="Delete" asp-route-id="@field.Id" class="btn btn-danger mb-4">Delete</a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="https://thumbs.dreamstime.com/b/comic-boom-oops-icon-simple-black-style-illustration-web-122999699.jpg" alt="Just oops image">
                <div class="card-body text-center">
                    <div class="card-title text-center h5-like">There are no fields</div>
                    <a href="/Fields/Create" class="btn btn-success">Create Field</a>
                </div>
            </div>
        </div>
    }
</div>