@model IEnumerable<GameListingServiceModel>

@foreach (var game in Model)
{
    <div class="col-md-4">
        <div class="card mb-4">
            <img class="card-img-top" src="@game.Field.ImageUrl" alt="@game.Field.Name @game.Field.Country - @game.Field.Town">
            <div class="card-body">
                <div class="text-center mb-4">
                    <div class="card-title h4-like">@game.Field.Name</div>
                </div>
                <h6 class="card-title">Place : @game.Field.Country, @game.Field.Town</h6>
                <h6 class="card-title">Date : @game.Date.ToString("g")</h6>
                <div class="text-center mt-4">
                    <a asp-controller="Games" asp-action="Details" asp-route-id="@game.Id" class="btn mb-3">Info</a>
                    @if (ViewBag.AllowCarEdit == true || User.IsManager())
                    {
                        <a asp-controller="Games" asp-action="Edit" asp-route-id="@game.Id" class="btn btn-warning mb-3">Edit</a>
                        <a asp-controller="Games" asp-action="Delete" asp-route-id="@game.Id" class="btn btn-danger mb-4">Delete</a>
                    }
                </div>
            </div>
        </div>
    </div>
}