@model CreateGameSecondStepViewModel

<div class="container">
    <div class="row">
        <div class="offset-1 offset-sm-1 offset-md-2 offset-lg-3 offset-xl-3 col-10 col-sm-9 col-md-8 col-lg-6 col-xl-5">
            @if (@Model.CountryName == null || @Model.CityName == null || @Model.Fields.Any() == false)
            {
                <div class="col-md-9 offset-sm-1 offset-md-1 offset-lg-2 offset-xl-2">
                    <div class="card">
                        <img class="card-img-top" src="https://thumbs.dreamstime.com/b/comic-boom-oops-icon-simple-black-style-illustration-web-122999699.jpg" alt="Just oops image">
                        <div class="card-body text-center">
                            <h5 class="card-title text-center">There are no fields in this city</h5>
                            <a href="/Fields/Create" class="btn">Create Field</a>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <h5 class="mt-3 mb-3 green text-center">Fields in @Model.CountryName - @Model.CityName</h5>

                <form method="post">
                    <div class="form-group my-item-center">
                        <label asp-for="FieldId"></label>
                        <select asp-for="FieldId" class="form-control min-width-size my-selected-box-center">
                            @foreach (var field in Model.Fields)
                            {
                                <option value="@field.Id">@field.Name</option>
                            }
                        </select>
                    </div>
                    <div class="my-item-center">
                        <input class="btn float-right min-width-size-btn" type="submit" value="Next" />
                    </div>
                </form>
            }
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}