@model IQueryable<GameSeePlayersServiceModel>

@{
    ViewBag.Title = "All Players For Game";
}

@{
    var isCreator = Model.Any(u => u.IsCreator && User.Id() == u.UserId);
}

<div class="row">
    @foreach (var user in Model)
    {
        <div class="col-md-2">
            <div class="card mb-4">
                <img class="card-img-top" src="@user.PhotoPath" alt="@user.FirstName">
                <div class="card-body">
                    <div class="text-center mb-4">
                        <div class="card-title h6-like">@user.FirstName</div>
                    </div>
                    <h6 class="card-title">@user.LastName</h6>
                    <div class="text-center mt-4">
                        <a asp-controller="Users" asp-action="Details" asp-route-id="@user.UserId" class="btn mb-3">Info</a>
                    </div>
                    @if (User.Id() == user.UserId || User.IsManager() || isCreator)
                    {
                        <div class="text-center mt-4">
                            <a asp-controller="Games" asp-action="ExitGame" asp-route-gameId="@user.GameId" asp-route-userIdToDelete="@user.UserId" class="btn mb-3">Exit Game</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    }
</div>