@model PlaygroundListingViewModel

<div class="container">
    <div class="row">
        <div class="offset-1 offset-sm-1 offset-md-2 offset-lg-3 offset-xl-3 col-10 col-sm-9 col-md-8 col-lg-6 col-xl-5">
            @if (@Model.Country == null || @Model.Town == null || @Model.Playgrounds.Any() == false)
            {
                <h5 class="mt-3 mb-3 text-danger">There are no playgrounds in this town</h5>

                <div class="button-holder">
                    <a href="/Playgrounds/PlaygroundCreate" class="btn btn-success">Create Playground</a>
                </div>
            }
            else
            {
                <h5 class="mt-3 mb-3">Playgrounds in @Model.Country - @Model.Town</h5>

                <form method="post">
                    <div class="form-group">
                        <label asp-for="PlaygroundId">Select playground:</label>
                        <select asp-for="PlaygroundId" class="form-control">
                            @foreach (var playground in Model.Playgrounds)
                            {
                                <option value="@playground.PlaygroundId">@playground.Name</option>
                            }
                        </select>
                    </div>

                    <input class="btn btn-success float-right" type="submit" value="Next" />
                </form>
            }
        </div>
    </div>
</div>