@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="box box-small">
    <section>
        <h1 class="text-center mb-5">@ViewData["Title"]</h1>

        <form asp-page-handler="Async" id="account" class="mt-4" method="post">
            <div class="input-container">
                <label asp-for="Input.Email" class="mb-2"></label>
                <input asp-for="Input.Email" class="mt-2" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="input-container">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="mt-4 mb-3 createPlaygroundChechboxes">
                <input class="checkbox-down" type="checkbox" asp-for="Input.RememberMe" />
                <label asp-for="Input.RememberMe"></label>
            </div>
            <div class="mt-2 mb-4">
                <button type="submit" class="btn btn-primary">Log in</button>
            </div>
            <div class="input-container">
                <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>
            </div>
        </form>
    </section>

    <section>
        <h3 class="mt-4">Use another service to log in.</h3>
        
        @if ((Model.ExternalLogins?.Count ?? 0) != 0)
        {
            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            <button type="submit"
                                    class="btn btn-primary"
                                    name="provider"
                                    value="@provider.Name"
                                    title="Log in using your @provider.DisplayName account">
                                @provider.DisplayName
                            </button>
                        }
                    </p>
                </div>
            </form>
        }
    </section>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}